body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
}

nav a:hover {
    text-decoration: underline;
}

#timers-container {
    margin: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}

.timer {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.display {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.price {
    font-size: 1.2em;
    color: #28a745;
}

.table-container {
    height: 400px; /* Adjust the height as needed */
    overflow-y: auto;
    margin: 20px auto;
    width: 80%;
    background-color: white;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}


table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}


table th {
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
    z-index: 2; /* Ensure it stays above the tbody */
}

table tr:hover {
    background-color: #f1f1f1;
}

table tr:hover {
    background-color: #f1f1f1;
}

#daily-summary {
    width: 80%;
    margin: 20px auto;
    text-align: left;
}

.summary {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#receipt-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#receipt-content {
    text-align: left;
}

#receipt-details {
    margin-bottom: 20px;
}

